<doctype html>
	{%load static%}
<html lang='en'>
	<head>
		<meta charset -'utf-8'>
		<title> strucktura</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel='stylesheet' href='{% static "landing/styleland.css"%}'>
	</head>
<body>
	<div class="wrapper">
		<div class="container">
			
			<div class="hedr1">
				шапка1
			</div>
			
			<div class="hedy">
				шапка2
			</div>
			
			<div class="hedr2">	
			</div>
			
			<div class="hedrb">
				
				<div class= "but">
					кнопа3
		   		</div>
			
			</div>
			
			<div class="hedr3">
			</div>
		   
			<div class= 'sideright'>		
				правый	
			</div>
			
			<div class='cont'>		
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				мы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текстмы сюда напишем большой крассивый текст
				
			</div>
			 
			<div class= "sideleft">	
		    	
				<div class= "but">
		   		кнопа1
		   		</div>
		   		
				<div class= "but">
		   		кнопа2
		   		</div>  	
		    
			</div>
		
		</div>	
		
		<div class= 'foot'>
			
			<div class= 'in_foot'>
			фут
			</div>
		
		</div>
			
		
	</div>
	
</body>
</html>